
#content {
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#fun-fact-container {
  margin-top: 20px;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 70%;  
}
