/* all links */
a {
  color: #000000;
  text-decoration: none;
}

/* hover effect */
a:hover {
  color: #867554;
}

/* The main body */
body {
  font-family: sans-serif
}

/* Centered images */
.centered {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  width: 70%;  
}

/* The content of the page */
#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

/* Div that holds fun facts*/
#fun-fact-container {
  margin-top: 20px;
}

/* The sidebar */
.sidebar {
  background-color: #bfbfbf;
  left: 10px;
  overflow-x: hidden;
  padding-top: 20px;
  position: fixed;
  top: 10px;
  z-index: 1;
}

/* Links on the sidebar */
.sidebar a {
  display: block;
  font-size: 25px;
  padding: 2px 20px 20px;
}
